.ListMenu .panel-title[flag=child]>a::after {
    display: inline-block;
    content: "\f054"
}

.ListMenu .panel .panel-heading {
    position: relative;
}

.ListMenu .panel[active="1"] .panel-title:before {
    position: absolute;
    top: 10px;
    left: 3px;
    display: inline-block;
    content: "";
    width: 5px;
    height: 18px;

    background: rgb(14, 80, 146);
}

.ListMenu .panel[active="1"] .panel-title a{
    color: rgb(14, 80, 146);
}


.ListMenu .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.ListMenu .list-group-item {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 1px;
}
.ListMenu .list-group-item a {
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px #ddd;
    padding-top: 10px;
    padding-bottom: 7px;
}

.ListMenu .collapse.in {
    margin-bottom: 15px;
}
.ListMenu .panel-title a {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}